* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app_header {
  /* Keeps Aspect Ratio Constant Despite Screen Size - Prevents Stretched Logo*/
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
